
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


.App {
  display: flex;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif; 
  color: #333333;
}

body {
  margin: 0; /* Remove default body margin */
  background-color: #f9f9f9; /* Set the background color for the whole web app */
}


.menu-panel {
  width: 220px;
  background-color: #991232;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
}
/* Style for the "Guard UP" title and logo */
.logo-user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; 
}

.logo {
  margin-bottom: 10px; 
}


.logo img {
  width: 100px; 
  filter: brightness(0) invert(1); 
}

h1 {
  text-align: center;
  color: #ffffff;
  font-family: 'Poppins', sans-serif; 
  font-size: 36px;
  font-weight: 700;
  margin-top: 0; 
}

.hello-admin {
  color: #ffffff; 
  font-family: 'Poppins', sans-serif; 
  font-size: 18px;
  margin-top: 0; 
}

.pageTitle {
  font-size: 32px; /* Adjust the font size as needed */
  font-family: 'Poppins', sans-serif; /* Change the font family as desired */
  font-weight: bold;
  color: #333; /* Change the color to match your web UI */
  margin-bottom: 0px; /* Add some spacing between the heading and the content */
}


nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-bottom: 10px;
}

nav a {
  display: block;
  padding: 13px 95px;
  color: #f9f9f9;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: margin-right 2s ease-in-out;
  border-radius: 30px;
  background-color: transparent; /* Set the initial background color to transparent */
  position: relative; /* Add this to make the position relative */
}

nav a:hover,
nav a.active {
  background-color: #f9f9f9; /* Set the background color to match the content background */
  box-shadow: none; /* Remove the box shadow on hover */
  color: #991232; /* Set the color to pink */
  border-top-right-radius: 0; /* Extend the box up to the right */
  border-bottom-right-radius: 0;
  right: -20px; /* Adjust the value to extend to the right */
  padding-right: 105px; /* Increase the right padding to spread out the background */
}



.content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: right;
  overflow-y: auto;
  margin-left: 270px;
  margin-top: 40px;
  background-color: #f9f9f9; /* Set the background color to match your web UI */
}



h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #000000;
}


.custom-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.custom-table th,
.custom-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.custom-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.custom-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.custom-table tr:hover {
  background-color: #f2f2f2;
}

@media (max-width: 768px) {
  .App {
    flex-direction: column;
  }

  .menu-panel {
    width: 100%;
    margin-bottom: 20px;
    position: static; 
    flex: 0 0 auto; 
  }

  .content {
    padding: 0;
    margin-left: 0; 
  }
}
